<div class="container">

    <div class="card hn-user-card">
        <img class="card-img-top hn-user-img" src="https://upload.wikimedia.org/wikipedia/commons/d/d3/User_Circle.png" alt="Card image cap">
        <div class="card-body">
            <h4 *ngIf="_authService.isAuthenticated()" class="text-center text-uppercase">You are logged in as <span class="text-success"> {{ activeUser.username }} </span></h4>
            <h5 class="card-title text-center text-uppercase text-primary">Change account settings</h5>
            <span class="hn-hr"></span>
            <button class="btn btn-lg btn-danger" type="button" (click)="checkToken()">Check Token</button>
        </div>
    </div>



</div>