<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">ADVER</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#hnmenuNav" aria-controls="navbarColor02"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="hnmenuNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" *ngIf="_authService.isAuthenticated()">
          <a href="#" class="nav-link" routerLink="myaccount">My Account</a>
        </li>
        <li class="nav-item" *ngIf="_authService.isAuthenticated()">
          <a href="#" class="nav-link" (click)="signOut()">Log out</a>
        </li>
        <li class="nav-item" *ngIf="!_authService.isAuthenticated()">
          <a href="#" class="nav-link" routerLink="login">Log in</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container py-3">
  <router-outlet></router-outlet>
</div>