/* You can add global styles to this file, and also import other style files */
@import "~bootswatch/dist/pulse/_variables.scss";
@import "~bootstrap/scss/bootstrap.scss";
@import "~bootswatch/dist/cosmo/_bootswatch.scss";
@import "~ionicons/dist/css/ionicons.min.css";

.hn-hr{
  display: block;
  width: 100%;
  height: 1px;
  padding: 5px 0;
  border-bottom: 1px solid $primary;
}